
<nav class='no-shadows'>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      < OPERAÇÃO IRACEMA />
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class='nav-button' href="sass.html">Sass</a></li>
      <li><a class='nav-button' href="badges.html">Components</a></li>
      <li><a class='nav-button' href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>